<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel ="stylesheet" href = "../static/template.css">
    <link rel="icon" href="https://img.icons8.com/color/96/000000/bacteria.png" />
    <title>Comparative Genomics</title>
    <style>
      body{
      margin:0px;
      padding:0px;
      text-align:center;
      }

      .row{
      clear: both;
      position: relative;
      left:35%;
      width:600px;
      text-align: left;
      }

      .step{
        text-align: center;
        font-family: "Cambria";
        font-size: 20px;
        color: black;
      }

      .instruction{
        font-family: "Cambria";
        font-size: 18px;
        color: black;
        padding-bottom: 20px;
      }

      .button{
        border-radius: 7px;
        background-color: #72d4d4;
        border-color:#3abfbf;
        padding:5px;
        box-shadow: none;
        font-family: "Cambria";
        font-size: 18px;
        border-style: solid;
      }
    </style>

  </head>

  <body>

    <div class="navbar">
      <h1  style="color: white; font-size: 80px;" align="center">ECHO</h1>
      <a href="../home.html" >Home</a>
      <a href="../team.html" >Team</a>
      <div class="dropdown">
          <button class="dropbtn">Analyze
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
                <a href="../analyze.html" >General Pipeline</a>
                <a href="./genome_assembly.html" target="_parent">Genome Assembly</a>
                <a href="./genome_prediction.html" target="_parent">Gene Prediction</a>
                <a href="./functional_annotation.html" target="_parent">Functional Annotation</a>
                <a href="./comparative_genomics.html" target="_parent">Comparative Genomics</a>
            </div>
        </div>
      <a href="https://compgenomics2020.biosci.gatech.edu/Main_Page" target="_parent">Wiki</a>
      <a href="../class_results.html" target="_parent">Class results</a>
    </div>

  <div>
    <h1 class="page-title"> Comparative Genomics </h1>
  </div>

  <div class=row>
    <div class="instruction">
        <form action="./upload_sequence.py">
          <label>Upload a compressed folder:</label>
          <input type="file" id="myFile" name="filename"><br>
          <span style="color:#aaa; font-style:italic; font-size:15px ">
            (a .tar.gz file containing all sample(s), each sample<br>
            has a fasta file named with sampleID, e.g. sampleID.fa)
          </span>
        </form>
      </div>
  </div>

  <div class=row>
    <div class="instruction">
      <form>
        <label>Tool:</label><br>
        <input type="checkbox" id="MUMmer 4.0" name="tool" value="MUMmer 4.0">
        <label for="MUMmer 4.0">MUMmer 4.0</label><br>
        <input type="checkbox" id="chewBBACA" name="tool" value="chewBBACA">
        <label for="chewBBACA">chewBBACA</label><br>
        <input type="checkbox" id="kSNP 3.0" name="tool" value="kSNP 3.0">
        <label for="kSNP 3.0">kSNP 3.0</label><br>
        <input type="checkbox" id="FigTree " name="tool" value="FigTree ">
        <label for="FigTree ">FigTree </label><br>
<!--         <span style="color:#aaa; font-style:italic; font-size:15px ">
          (default: CDS - Prodigal, tRNA - Aragorn, rRNA - barrnap)
        </span> -->
     </form>
    </div>
  </div>

  <div class=row>
    <div class="instruction">
      <form>
        <label>Options for kSNP 3.0:</label><br>
        <input type="checkbox" id="Parsimony tree" name="tool" value="Parsimony tree">
        <label for="Parsimony tree">Parsimony tree</label><br>
        <input type="checkbox" id="maximum likelihood" name="tool" value="maximum likelihood">
        <label for="maximum likelihood">maximum likelihood</label><br>
        <input type="checkbox" id="neighbour joining trees" name="tool" value="neighbour joining trees">
        <label for="neighbour joining trees">neighbour joining trees</label><br>
        <label>Kmer size:</label>
        <input type="text" name="kmer"><br>
<!--         <span style="color:#aaa; font-style:italic; font-size:15px ">
          (default: CDS - Prodigal, tRNA - Aragorn, rRNA - barrnap)
        </span> -->
     </form>
    </div>
  </div>

  <div class=row>
    <div class="instruction">
      <label>Metadata:</label>
      <input type="file" id="metadata" name="metadata"><br>
      <span style="color:#aaa; font-style:italic; font-size:15px ">
      (a tab-delimited file, e.g. .txt file, containing sampleID, location, sampled date, etc.)</span>
    </div>
  </div>

  <div class=row>
    <div class="instruction">
      <label>Email:</label>
      <input type="text" id="email" name="emailaddress"><br>
      <span style="color:#aaa; font-style:italic; font-size:15px ">
      (Required for receiving results)</span>
    </div>
  </div>

  <div class="instruction">
    <button style="padding-left:7%; padding-right:7%;" type="submit" class="button btn btn-addon btn-success" ng-click="job_start(); reset_form();"><p class="" style="color: #fffaf0;">Run</p></button>
  </div>

  </body>
</html>
